
.start-new-game,
.themed-button{
    text-align: center;
    color: var(--color);
    width: 75%;
    margin: auto;
    margin-top: 2%;
    background-color: var(--button-background);
    padding: 6px 36px;
    border-radius: 8px;
}

.start-new-game:hover,
.themed-button:hover {
    cursor: pointer;
    box-shadow: 0 0 12px black;
    color: var(--hover-color);

}

.themed-button:disabled{
    color: rgba(0, 0, 0, 0.774);
    box-shadow: none;
    background-color: rgb(76, 71, 71);
}

.themed-button-container{

    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: center;
    background-color: var(--box-background);
    border-radius: 12px;
    /* height: 50%; */
    width: 50%;
    padding: 3%;
    text-align: center;

    margin: auto;
    margin-top: 20vh;
}

.themed-title{
    font-size: xx-large;
    margin-bottom: 5px;
}

.themed-sub-title{
    font-size: x-large;
}

.user-games-container{
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 85%;
    overflow: hidden;
    margin: auto;
    margin-top: 12px;
}

.user-games-container .chessboard{
    max-height: 400px;
    max-width: 400px;
}

.themed-button-container.user-games-outer-container{
    width: 80%;
}

.user-games {
    display: flex;
    gap: 6px;
    width: 50%;
    height: 75%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.user-games:hover{
    overflow: auto;
}

.user-games .chessboard{
    height: 30%;
    width: 30%;
}
