.background {

    /* height: 100%;
    width: 100%;
    border: rgba(0, 0, 0, 0) solid 1px; */
    display: flex;
}

.themed-container.themed-button-container{
    /* height: 90%;
    width: 65%;
    margin-top: 1%; */
    /* margin-top: 2%; */
    margin: 5vh auto;
    max-height: 85vh;
    width: 45%;

}

.game-button-container {
    display: flex;
    flex-direction: column;
}


.chessboard {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "a8 b8 c8 d8 sqe8 f8 g8 h8"
    "a7 b7 c7 d7 sqe7 f7 g7 h7"
    "a6 b6 c6 d6 sqe6 f6 g6 h6"
    "a5 b5 c5 d5 sqe5 f5 g5 h5"
    "a4 b4 c4 d4 sqe4 f4 g4 h4"
    "a3 b3 c3 d3 sqe3 f3 g3 h3"
    "a2 b2 c2 d2 sqe2 f2 g2 h2"
    "a1 b1 c1 d1 sqe1 f1 g1 h1"
    "w  w  w  w  w    w  w  w";
}

.squares{

    border: rgba(0, 0, 0, 0.185) solid 1px;
    height: 100%;
    width: 100%;
}

/* .squares:nth-child(16n+1),
.squares:nth-child(16n+3),
.squares:nth-child(16n+5),
.squares:nth-child(16n+7),
.squares:nth-child(16n+10),
.squares:nth-child(16n+12),
.squares:nth-child(16n+14),
.squares:nth-child(16n+16){
    background-color: #b8860b;
} */



.chessboard img{
    object-fit: contain;
    overflow: hidden;
    width: 70%;
    height: 70%;
    margin: auto;

}

.a1 {
    grid-area: a1;
}
.b1 {
    grid-area: b1;
}
.c1 {
    grid-area: c1;
}
.d1 {
    grid-area: d1;
}
.e1 {
    grid-area: sqe1;
}
.f1 {
    grid-area: f1;
}
.g1 {
    grid-area: g1;
}
.h1 {
    grid-area: h1;
}
.a2 {
    grid-area: a2;
}
.b2 {
    grid-area: b2;
}
.c2 {
    grid-area: c2;
}
.d2 {
    grid-area: d2;
}
.e2 {
    grid-area: sqe2;
}
.f2 {
    grid-area: f2;
}
.g2 {
    grid-area: g2;
}
.h2 {
    grid-area: h2;
}
.a3 {
    grid-area: a3;
}
.b3 {
    grid-area: b3;
}
.c3 {
    grid-area: c3;
}
.d3 {
    grid-area: d3;
}
.e3 {
    grid-area: sqe3;
}
.f3 {
    grid-area: f3;
}
.g3 {
    grid-area: g3;
}
.h3 {
    grid-area: h3;
}
.a4 {
    grid-area: a4;
}
.b4 {
    grid-area: b4;
}
.c4 {
    grid-area: c4;
}
.d4 {
    grid-area: d4;
}
.e4 {
    grid-area: sqe4;
}
.f4 {
    grid-area: f4;
}
.g4 {
    grid-area: g4;
}
.h4 {
    grid-area: h4;
}
.a5 {
    grid-area: a5;
}
.b5 {
    grid-area: b5;
}
.c5 {
    grid-area: c5;
}
.d5 {
    grid-area: d5;
}
.e5 {
    grid-area: sqe5;
}
.f5 {
    grid-area: f5;
}
.g5 {
    grid-area: g5;
}
.h5 {
    grid-area: h5;
}
.a6 {
    grid-area: a6;
}
.b6 {
    grid-area: b6;
}
.c6 {
    grid-area: c6;
}
.d6 {
    grid-area: d6;
}
.e6 {
    grid-area: sqe6;
}
.f6 {
    grid-area: f6;
}
.g6 {
    grid-area: g6;
}
.h6 {
    grid-area: h6;
}
.a7 {
    grid-area: a7;
}
.b7 {
    grid-area: b7;
}
.c7 {
    grid-area: c7;
}
.d7 {
    grid-area: d7;
}
.e7 {
    grid-area: sqe7;
}
.f7 {
    grid-area: f7;
}
.g7 {
    grid-area: g7;
}
.h7 {
    grid-area: h7;
}
.a8 {
    grid-area: a8;
}
.b8 {
    grid-area: b8;
}
.c8 {
    grid-area: c8;
}
.d8 {
    grid-area: d8;
}
.e8 {
    grid-area: sqe8;
}
.f8 {
    grid-area: f8;
}
.g8 {
    grid-area: g8;
}
.h8 {
    grid-area: h8;
}

.winner{
    grid-area: w;
    padding: 10px 0px;
    font-size: x-large;
}
