*{
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
html {
    background-color: var(--background);
}


:root {
    height: 100%;
    --background:black;
    --color: white;
}

#root{
    height: 100%;
}


body {
    height: 100%;
}

.main {
    background-color: var(--background);
    color: var(--color);
    height: 100%;
    background-size: cover;
}

[data-board="light"]{
    --background: antiquewhite;
    --color: rgb(55, 52, 52);
    --box-background:rgba(55, 52, 52, 0.429);



    --hover-color: rgb(202, 193, 193);


    --button-background: rgb(255, 253, 253);
}

[data-board="transparent"]{
    --background: rgba(128, 128, 128, 0);
    --box-background: white;
    --color: green;
}
[data-board="dark"]{
    --background: black;
    --button-background: rgb(76, 71, 71);
    --box-background: rgb(93, 91, 91);
    --form-background:rgb(27, 27, 27);
    --form-color: gray;
    --color: rgb(192, 182, 182);
    --hover: white;
}
