*{
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
html {
    background-color: var(--background);
}


:root {
    height: 100%;
    --background:black;
    --color: white;
}

#root{
    height: 100%;
}


body {
    height: 100%;
}

.main {
    background-color: var(--background);
    color: var(--color);
    height: 100%;
    background-size: cover;
}

[data-board="light"]{
    --background: antiquewhite;
    --box-background: white;
    --color: black;
}

[data-board="blue"]{
    --background: blue;
    --box-background: white;
    --color: green;
}
[data-board="dark"]{
    --background: black;
    --box-background: rgb(93, 91, 91);
    --color: rgb(192, 182, 182);
    --hover: white;
}
