nav {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;


}

nav div{
    color: rgb(170, 170, 170);

}

nav div:hover{
    color: rgb(252, 249, 249);
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: medium;
    color: rgb(170, 170, 170);
}

a:hover{
    color: rgb(252, 249, 249);
}

.container {

    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 12px;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 200px;
    height: 200px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(95, 94, 94, 0.684);
}

.container div{
    color: var(--color);
    padding: 3px;
}

.user-themes{
    z-index: 1;
}
