nav {
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    margin: 0% 2%;
    padding-top: 1%;



}
a:hover,
nav div:hover{
    color: var(--hover-color);
    cursor: pointer;
}

div .no-hover:hover{
    color:var(--color);
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color);
}

.divider{
    border-top: 1px solid var(--color);
    height: 0px;
    margin-top: 6px;
    margin-bottom: -2px;
}

.container {

    background-color:var(--box-background);
    display: flex;
    flex-direction: column;
    padding: 12px;
    position: absolute;
    top: 45px;
    right: 15px;
    width: 200px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(95, 94, 94, 0.684);
}

.container div{
    color: var(--color);
    padding: 3px;
}

.user-themes{
    z-index: 1;
}
