.themed-form{
    border-radius: 3px;
}

.themed-form label{
    font-size: 15px;
    color: rgb(231, 222, 222);

}
.themed-form input,
.themed-form select{
    background-color: var(--form-background);
    color: var(--form-color);
    margin: 10px 0px;
    height: 35px;
    border: 1px gray solid;
    padding: 3px;
    border-radius: 5px
}

#light-squares,
#dark-squares
{
    width: 35px;
    margin-left: 20px;
    border: none;
}

.display {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}
